# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

domain: ml-or-ds-team.github.io
url: https://ml-or-ds-team.github.io
title: MLOR Data Science Team  
author: "Machine Learning & Operations Research"
# email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  A dedicated Data Science team in Machine Learning and Optimization.
baseurl: "" # the subpath of your site, e.g. /blog
# url: "" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: jekyllrb
# github_username:  jekyll

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-paginate-multiple
  - jekyll-sitemap
  
minima:
  skin: dark
  
header_pages:
- news/index.html
- talks/index.html
- blog/index.html
- team.markdown
- career.markdown
# - contact.markdown

paginate: 6
paginate_path: "/blog/page:num/"

# paginate_multiple:
#   - paginate: 6
#     paginate_path: '/blog/page:num/'
#     sub_dir: '/nb'
#   - paginate: 6
#     paginate_path: '/talk/page:num/'
#     sub_dir: '/st'
 

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
